
%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    %a.navbar-brand{href: "/"} Coachella GPT
    %button.navbar-toggler{"aria-controls" => "navbarText", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarText", "data-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarText.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item.active
          -# Powered by
          %a.nav-link{href: "http://gptscript.ai/", style: "display: inline", target: "_blank"}
            = image_tag 'made_with_gptscript_icon_black.png', style: 'max-height:65px'
            -# GPTScript