.container.mt-4
  %h5.mb-3 Input bands (or genres) you like and we'll find artists you'll like playing at coachella.
  %form{action: "/", method: "get", id: 'searchForm'}
    .input-group.mb-3
      .input-group-prepend
        %button.input-group-text#search-btn{type: "submit"} Search
      %input.form-control{name: "input", type: "text", placeholder: "Tell us about bands you like...", value: params[:input]}  
  
  #console-streaming.console.mb-2{style: "#{'display:none;' if @bands}"}

  .content  
    - if @bands     
      %h4.content_title.mb-3 Bands you might like at coachella
    -# = "My bands count " + @bands&.count.to_s
    - @bands&.each do |band|
      = render "home/band", band: band
  .loading-gif{style: "display: none;"}
    .d-flex.justify-content-center.align-items-center.flex-column
      = image_tag "loading.gif"
      This may take a few minutes... 
  .text-danger.errors 
    = @error

:javascript
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('searchForm').addEventListener('submit', function(e) {
      e.preventDefault();
      document.getElementById('search-btn').disabled = true;
      document.getElementById("console-streaming").style.display = 'block';
      document.querySelector('.loading-gif').style.display = 'flex';
      document.querySelector('.content').innerHTML = ''; 
      document.querySelector('.errors').innerHTML = '';
      //document.querySelector('.content_title').innerHTML = 'Searching for bands at coachella.  Hold on!'
      this.submit(); 
    });

    // Realtime command output
    App.command_output = App.cable.subscriptions.create("CommandOutputChannel", {
      received(data) {
        console.log("received(data) called")
        const outputElement = document.getElementById("console-streaming");
        outputElement.innerHTML += `<p>${data.line}</p>`;
        outputElement.scrollTop = outputElement.scrollHeight;
      }
    });
  });
  
  