.container.mt-4
  .input-group.mb-3
    .input-group-prepend
      %button.input-group-text Search
    %input.form-control{type: "text",  placeholder: "Tell us about bands you like..."}
  %h4.mb-3 Bands at coachella
  - @bands.each do |band|
    = render "home/band", band: band